@import "libs";
@import "fonts";
@import "var";

@import "mixins/media";
@import "components/btns";
@import "components/header";
@import "components/footer";

* {
    box-sizing: border-box;

    &:after, &:before {
        box-sizing: border-box;
    }
}

html {
    font-size: 14px;
    //font-size: 1.3vw;

    @include breakpoint(min, $static-desktop) {
        font-size: 17px;
    }
}

body {
    background-color: $bg--white;
    font-family: $default-font;
    line-height: 1.3;
    font-weight: normal;
    color: $txt--base;

    @include breakpoint(max, $tablet) {
        padding-top: 67px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.page-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 1rem;

    @include breakpoint(min, $static-desktop) {
        max-width: 1200px;
        padding: 0 15px;
    }
}

section > div {
    h1 {
        text-shadow: 0 0 25px rgba(236, 236, 237, 0.29);
        color: $txt--dark-blue;
        font-family: 'Renogare';
        font-size: 26px;
        text-align: center;
        font-weight: normal;
        margin: 0;

        @include breakpoint(min, $tablet) {
            font-size: 2.7rem;
        }
    }

    & > h2 {
        text-align: center;
        font-size: 26px;
        color: $txt--dark-blue;
        font-weight: normal;
        line-height: 1.2;
        margin: 0 0 20px;

        @include breakpoint(min, $tablet) {
            font-size: 2.82rem;
            margin: 0 0 1.47rem;
        }
    }

    & > h3, h3 {
        font-family: 'Renogare';
        font-size: 20px;
        text-align: center;
        font-weight: normal;

        @include breakpoint(min, $tablet) {
            font-size: 1.52rem;
        }
    }
    h3 {        
        color: $txt--grey;          
        margin: 0 0 20px;

        @include breakpoint(min, $tablet) {
            margin: 0 0 1.17rem;
        }
    }
    & > h3 {
        color: $txt--dark-blue;       
        margin: 0 0 25px;

        @include breakpoint(min, $tablet) {
            margin: 0 0 2.35rem;
        }
    }    
    p {
        margin: 0;
    }
}

.section--grey {
    background-color: $bg--light-grey;
}