$default-font: "PT Sans", sans-serif;
$icon-font: "fontello";
$img-path: '../images';

// bg colors
$bg--black: #000000;
$bg--white: #fff;
$bg--grey: #2a3036;
$bg--blue: #045791;
$bg--light-grey: #fafafa;
$bg--light-blue: #d3dadd;

// fonts colors
$txt--base: #636463;
$txt--light-grey: #919a9e;
$txt--grey: #3f403f;
$txt--dark-grey: #464746;
$txt--blue: #045791;
$txt--dark-blue: #023764;
$txt--light-blue: #005faf;
$txt--white: #ffffff;
