@import "base";

.home__banner {  
    @include breakpoint(max, $tablet) {
        padding: 40px 0; 
    }

    @include breakpoint(min, $tablet) {
        height: calc(100vh - 128px);
    }


    & > div {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .banner {
        &__content {
            @include breakpoint(min, $tablet) {
                width: 51%;
            }
        }
        &__text {
            text-align: center;
            font-size: 16px;
            margin-top: 15px;

            @include breakpoint(min, $tablet) {
                font-size: 2rem;
                margin-top: 5vh;
            }
        }
    }
}

.home__info {
    padding: 30px 0;

    @include breakpoint(min, $tablet) {
        padding: 4.11rem 0;
    }

    .box__description {
        p {
            margin: 0 0 25px;

            @include breakpoint(min, $tablet) {
                margin: 0 0 2.35rem;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .items__wrap {   
        display: flex;
        justify-content: center;
        align-items: stretch;    
        margin-top: 30px;

        @include breakpoint(max, $tablet) {
            flex-wrap: wrap;
        }

        @include breakpoint(min, $tablet) {
            justify-content: flex-start;
            margin-top: 2.94rem;
        }

        .item {
            &__box {
                width: 100%;
                border: 1px solid $bg--light-blue;
                border-radius: 5px;                
                padding: 20px 15px;

                @include breakpoint(max, $tablet) {
                    max-width: 300px;
                    margin: 0 auto 20px;
                }

                @include breakpoint(min, $tablet) {
                    width: 31.65%;
                    border-radius: 0.29rem;
                    margin-right: 2.525%;
                    padding: 1.76rem 1.76rem 1.76rem;

                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }               
            }
            &__icon {
                text-align: center;
                color: $txt--blue;
                font-size: 30px;
                line-height: 1;
                margin-bottom: 15px;

                @include breakpoint(min, $tablet) {
                    font-size: 1.76rem;                  
                    margin-bottom: 1.4rem;
                }
            }
            &__title {
                text-align: center;
                color: $txt--grey;
                font-family: 'Renogare';
                font-size: 20px;        
                margin-bottom: 15px;   
                
                @include breakpoint(min, $tablet) {
                    font-size: 1.4rem;        
                    margin-bottom: 1.4rem;   
                }
            }
            &__description {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;

                    li {
                        position: relative;
                        padding-left: 15px;

                        @include breakpoint(min, $tablet) {
                            padding-left: 0.88rem;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            left: 1px;
                            top: 6px;
                            width: 5px;
                            height: 5px;
                            border-radius: 100%;
                            background-color: $txt--base;

                            @include breakpoint(min, $tablet) {
                                left: 0.11rem;
                                top: 0.52rem;
                                width: 0.29rem;
                                height: 0.29rem;
                            }
                        }
                    }
                }
            }
            &__links {
                margin-top: 20px;

                @include breakpoint(min, $tablet) {
                    margin-top: 1.52rem;
                }

                .btn__base {
                    margin-bottom: 10px;

                    @include breakpoint(min, $tablet) {
                        margin-bottom: 0.58rem;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.home__video-first {  
    padding: 30px 0;

    @include breakpoint(min, $tablet) {
        padding: 4.11rem 0;
    }
}

.home__video-second {
    padding: 30px 0 0;
    margin-bottom: -140px;

    @include breakpoint(min, $tablet) {
        padding: 3.82rem 0 0;
        margin-bottom: -23.23rem;
    }    
}

.section__latest-technology {
    background: url('../images/section-latest-technology.jpg') no-repeat center / cover;  
    padding: 30px 0;

    @include breakpoint(min, $tablet) {
        padding: 4.11rem 0 3.82rem;
    }

    & > div {
        & > h2 {
            color: $txt--white;

            @include breakpoint(min, $tablet) {
                margin-bottom: 2.35rem;
            }
        }
    }

    .items__wrap {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;       

        .item {
            &__box {
                background-color: rgba(4, 87, 145, 0.8);
                border: 1px solid rgb(4, 87, 145);
                border-radius: 5px;
                box-shadow: 1.5px 2.6px 4px rgba(102, 127, 145, 0.11);
                width: 100%;
                margin: 0 15px 20px;
                padding: 0 10px;

                @include breakpoint(max, $tablet) {
                    max-width: 300px;
                }

                @include breakpoint(min, $tablet) {
                    border-radius: 0.29rem;
                    width: 31.65%;
                    margin: 0 0.84% 1.76rem;
                    padding: 0 0.58rem;
                }
            }
            &__top {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-bottom: 1px solid rgba(255,255,255,0.2);
            }
            &__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: $txt--blue;
                background-color: $bg--white;
                border-radius: 5px;
                min-height: 50px;
                flex-shrink: 0;
                width: 24.5%;
                margin: -1px 1rem -1px -11px;

                @include breakpoint(min, $tablet) {
                    border-radius: 0.29rem;
                    min-height: 4.11rem;                   
                    width: 24.5%;
                    margin: -1px 1rem -1px -0.647rem;
                }

                i {
                    font-size: 20px;
                    line-height: 1;

                    @include breakpoint(min, $tablet) {
                        font-size: 1.76rem;
                    }
                }
            }
            &__title {
                flex-grow: 1;
                color: $txt--white;
                font-family: 'Renogare';
                font-size: 14px;      
                
                
                @include breakpoint(min, $tablet) {
                    font-size: 1.17rem;    
                }
            }
            &__description {
                padding: 10px;
                color: $txt--white;

                @include breakpoint(min, $tablet) {
                    padding: 0.88rem 0.94rem;
                }

                p {
                    margin: 0;
                    font-weight: bold;
                }
                p + ul {
                    margin-top: 5px;

                    @include breakpoint(min, $tablet) {
                        margin-top: 0.29rem;
                    }
                }
                ul {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    li {
                        position: relative;
                        padding-left: 15px;

                        @include breakpoint(min, $tablet) {
                            padding-left: 0.88rem;
                        }

                        &::before {     
                            content: '';
                            position: absolute;
                            left: 1px;
                            top: 6px;
                            width: 5px;
                            height: 5px;
                            border-radius: 100%;
                            background-color: $txt--white;

                            @include breakpoint(min, $tablet) {
                                left: 0.11rem;
                                top: 0.52rem;
                                width: 0.29rem;
                                height: 0.29rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .btn__base {
        text-align: center;
        margin: 20px auto 0;
        max-width: 300px;

        @include breakpoint(min, $tablet) {
            margin: 0.58rem auto 0;
            max-width: 310px;
        }

        a {
            width: 100%;
        }
    }
}

.section__about-partner {
    padding: 170px 0 30px;

    @include breakpoint(min, $tablet) {
        padding: 26.17rem 0 4.11rem;
    }
    
    .items__wrap {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;

        @include breakpoint(min, $tablet) {
            justify-content: flex-start;
        }

        .item {
            &__box {
               width: 100%;
               
               @include breakpoint(max, $tablet) {
                   max-width: 270px;
                   margin: 0 15px 30px;
               }

                @include breakpoint(min, $tablet) {
                    width: 23%;
                    margin-right: 2.66%;

                    &:nth-child(4n) {
                        margin-right: 0;
                    }
                }
            }
            &__logo {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 8rem;
                background-color: $bg--white;
                border-radius: 10px;
                padding: 10px;
                box-shadow: 0 0 26px rgba(2, 50, 82, 0.05);
                margin-bottom: 10px;

                @include breakpoint(min, $tablet) {
                    height: 10rem;                    
                    border-radius: 0.58rem;
                    padding: 0.29rem;                   
                    margin-bottom: 1.47rem;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            &__title {
                font-weight: bold;
                margin-bottom: 10px;

                @include breakpoint(min, $tablet) {
                    margin-bottom: 0.47rem;
                }
            }
            &__description {
                margin-bottom: 10px;

                @include breakpoint(min, $tablet) {
                    margin-bottom: 0.47rem;
                }                

                ul {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;

                    li {
                        position: relative;
                        padding-left: 15px;

                        @include breakpoint(min, $tablet) {
                            padding-left: 0.88rem;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            left: 1px;
                            top: 6px;
                            width: 5px;
                            height: 5px;
                            border-radius: 100%;
                            background-color: $txt--base;

                            @include breakpoint(min, $tablet) {
                                left: 0.11rem;
                                top: 0.52rem;
                                width: 0.29rem;
                                height: 0.29rem;
                            }
                        }
                    }
                }
            }
            &__link {
                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: $txt--blue;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            &__sign {
                font-weight: bold;
                text-transform: uppercase;
                margin-top: 10px;

                @include breakpoint(min, $tablet) {
                    margin-top: 0.58rem;
                }
            }
        }
    }
}

.section__your-plus {
    padding: 30px 0;

    @include breakpoint(min, $tablet) {
        padding: 4.11rem 0 3.82rem;
    }

    & > div {
        & > h2 {
            @include breakpoint(min, $tablet) {
                margin-bottom: 2.35rem;
            }
        }
    }

    .items__wrap {
        @include breakpoint(min, $tablet) {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            flex-wrap: wrap;  
        }     

        .item {
            &__box {
                width: 100%;

                @include breakpoint(max, $tablet) {
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                @include breakpoint(min, $tablet) {
                    width: 48.75%;
                    
                    &:nth-child(2n) {
                        margin-left: auto;
                    }
                }
            }
            &__img {
                border-radius: 10px;
                overflow: hidden;
                height: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;

                @include breakpoint(min, $tablet) {
                    border-radius: 0.58rem;
                    height: 14.7rem;
                    margin-bottom: 1.88rem;
                }

                img {
                    width: 100%;
                    height:100%;
                    object-fit: cover;
                }
            }
            &__title {
                position: relative;
                font-family: 'Renogare';
                font-size: 16px;              
                color: $txt--light-blue;
                padding-left: 45px;                
                margin-bottom: 15px;

                @include breakpoint(min, $tablet) {
                    font-size: 1.23rem; 
                    padding-left: 4.11rem;
                    padding-right: 0.88rem;
                    margin-bottom: 1.47rem;
                }

                span {
                    color: $txt--light-grey;
                }

                i {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 35px;
                    line-height: 1;  
                    
                    @include breakpoint(min, $tablet) {
                        font-size: 3.35rem;
                    }
                }
            }
            &__description {
                p {
                    font-weight: bold;
                    margin: 0;
                    color: $txt--grey;
                    a {
                        text-decoration: none;
                        color: $txt--blue;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                ul {
                    padding: 0;
                    margin: 5px 0 0;
                    list-style-type: none;

                    @include breakpoint(min, $tablet) {
                        margin: 0.58rem 0 0;
                    }

                    li {
                        position: relative;
                        padding-left: 15px;

                        @include breakpoint(min, $tablet) {
                            padding-left: 0.88rem;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            left: 1px;
                            top: 6px;
                            width: 5px;
                            height: 5px;
                            border-radius: 100%;
                            background-color: $txt--base;

                            @include breakpoint(min, $tablet) {
                                left: 0.11rem;
                                top: 0.52rem;
                                width: 0.29rem;
                                height: 0.29rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.video__box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 250px; 
    border-radius: 10px;
    overflow: hidden;   

    @include breakpoint(min, $tablet) {
        border-radius: 0.58rem;
        height: 70.5vh; 
    }

    .video {
        &__overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 10;           
            overflow: hidden;
            border-radius: 10px;

            @include breakpoint(min, $tablet) {
                border-radius: 0.58rem;
            }

            & > div {
                width: 90%;
                margin: 0 auto;

                @include breakpoint(min, $tablet) {
                    width: 67%;
                }
            }
        }
        &__text {
            font-size: 14px;
            color: $txt--white;
            text-align: center;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            padding-bottom: 20px;
            
            @include breakpoint(min, $tablet) {
                font-size: 1.52rem;
                padding-bottom: 2.94rem;
            }
        }
        &__checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-family: 'Renogare';
            font-size: 14px;
            color: $txt--white;
            text-align: center;
            padding-top: 20px;

            @include breakpoint(min, $tablet) {
                font-size: 1.41rem;
                padding-top: 2.94rem;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 20px;
                height: 20px;
                margin-right: 15px;
                background-color: rgba(255, 255, 255, 0.05);
                border: 2px solid white;
                border-radius: 5px;  
                flex-shrink: 0;     
                
                @include breakpoint(min, $tablet) {
                    width: 1.76rem;
                    height: 1.76rem;
                    margin-right: 1.17rem;
                    border: 0.17rem solid white;
                    border-radius: 0.41rem;  
                }
            }

            &.active {
                span {
                    &::before {
                        content: '\e801';
                        font-family: $icon-font;
                        font-weight: normal;
                        position: absolute;
                        font-size: 15px;
                        line-height: 1;

                        @include breakpoint(min, $tablet) {
                            font-size: 0.88rem;
                        }
                    }
                }
            }
        }
    } 
    iframe {
        width: 100%;
        height: 100%;
    }

    &--dark {
        .video {           
            &__text {
                color: $txt--dark-grey;
            }
            &__checkbox {              
                color: $txt--dark-grey;     
                
                &.active {
                    span {
                        background-color: rgba(255, 255, 255, 1);

                        &::before {
                            color: $txt--dark-grey;     
                        }
                    }
                }
            }
        } 
    }
}

.section__individual-needs {
    padding: 70px 0;

    .items__wrap {
        background: url('../images/graph.png') no-repeat center / 89% auto;
        position: relative;
        height: 22.4vw; 

        .item {
            &__box {
                position: absolute;
                width: 9.6vw;

                a {
                    text-decoration: none;
                    outline: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex-direction: column;
                    position: relative;
                }

                &:nth-child(1) {
                    left: 2.8vw;
                    top: -1vw;                
                }
                &:nth-child(2) {
                    left: 9.8vw;
                    top: 2.4vw;
                }
                &:nth-child(3) {
                    left: 17.45vw;
                    top: -0.4vw;
                }
                &:nth-child(4) {
                    right: 19.2vw;
                    top: 0.2vw;
                }
                &:nth-child(5) {
                    right: 14.2vw;
                    top: 2vw;
                    max-width: 8vw;
                }
                &:nth-child(6) {
                    right: 6.5vw;
                    top: -0.2vw;
                }
                &:nth-child(7) {
                    left: 4.5vw;
                    bottom: 3.9vw;
                    a {
                        flex-direction: column-reverse;
                    }
                }
                &:nth-child(8) {
                    left: 11.8vw;
                    bottom: -0.6vw;
                    a {
                        flex-direction: column-reverse;
                    }
                }
                &:nth-child(9) {
                    left: 19.4vw;
                    bottom: 3.9vw;
                    max-width: 7vw;
                    a {
                        flex-direction: column-reverse;
                    }
                }
                &:nth-child(10) {
                    right: 18.2vw;
                    bottom: 5.6vw;
                    a {
                        flex-direction: column-reverse;
                    }
                }
                &:nth-child(11) {
                    right: 13vw;
                    bottom: -0.6vw;
                    a {
                        flex-direction: column-reverse;
                    }
                }
                &:nth-child(12) {
                    right: 4.7vw;
                    bottom: 3.8vw;
                    a {
                        flex-direction: column-reverse;
                    }
                }
            }
            &__name {
                color: $txt--grey;
                font-family: 'Renogare';
                font-size: 0.7vw;
                line-height: 1;
                text-align: center;                
            }
            &__icon {
                width: 3.65vw;
                margin: 0.55vw 0;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}