// Breakpoints.
$mobile: 480px;
$tablet: 992px;
$static-desktop: 1200px;

@mixin breakpoint($direction, $breakpoint-value) {
  @if $direction == max {
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else if $direction == min {
    @media (min-width: $breakpoint-value) {
      @content;
    }
  }
}

@mixin breakpoint-and($breakpoint-value-1, $breakpoint-value-2) {
  @media (min-width: $breakpoint-value-1) and (max-width: $breakpoint-value-2 - 1) {
    @content;
  }
}
