@font-face {
    font-family: 'fontello';
    src: url('../fonts/icon-font/font/fontello.eot?16455518');
    src: url('../fonts/icon-font/font/fontello.eot?16455518#iefix') format('embedded-opentype'),
    url('../fonts/icon-font/font/fontello.woff2?16455518') format('woff2'),
    url('../fonts/icon-font/font/fontello.woff?16455518') format('woff'),
    url('../fonts/icon-font/font/fontello.ttf?16455518') format('truetype'),
    url('../fonts/icon-font/font/fontello.svg?16455518#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/icon-font/font/icon-font.svg?16455518#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-barcode:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-gear:before { content: '\e804'; } /* '' */
.icon-laptop:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-polyform:before { content: '\e807'; } /* '' */
.icon-circle-plus:before { content: '\e80a'; } /* '' */
.icon-cloud:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
