@font-face {
    font-family: 'Renogare';
    src: url('../fonts/Renogare/Renogare-Regular.eot');
    src: url('../fonts/Renogare/Renogare-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Renogare/Renogare-Regular.woff2') format('woff2'),
        url('../fonts/Renogare/Renogare-Regular.woff') format('woff'),
        url('../fonts/Renogare/Renogare-Regular.ttf') format('truetype'),
        url('../fonts/Renogare/Renogare-Regular.svg#Renogare-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}