// btn colors
$btn-bg--blue: #045791;
$btn-bg--white:  #fff;
$btn-txt--white: #fff;
$btn-txt--blue: #045791;

.btn {
    &__base {
        a, input, button {
            font-family: 'Renogare';
            outline: none;
            border: none;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: normal;
            font-size: 14px;
            line-height: 1;
            border-radius: 5px;
            cursor: pointer;
            padding: 15px 10px;
            border: 1px solid;

            @include breakpoint(min, $tablet) {
                font-size: 0.94rem;
                border-radius: 0.29rem;
                padding: 0.97rem 1.93rem;
            }
        }
        a {
            text-decoration: none;
        }
    }

    &--blue {
        a, input, button {
            color: $btn-txt--white;
            border-color: $btn-bg--blue;
            background-color: $btn-bg--blue;

            @include breakpoint(min, $tablet) {
                transition: all 0.4s ease-in-out;

                &:hover {
                    color: $btn-txt--blue;
                    background-color: $btn-bg--white;
                }
            }
        }
    }
}
