.footer {
    margin-top: auto;
    background-color: $bg--grey;    
    padding: 20px 0;

    @include breakpoint(min, $tablet) {
        padding: 2.23rem 0;
    }

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(max, $tablet) {
            flex-direction: column;
        }

        @include breakpoint(min, $tablet) {
            justify-content: flex-start;
        }
    }

    &__copyright {
        color: $txt--white;
        font-size: 14px;

        @include breakpoint(max, $tablet) {
            order: 2;
        }

        @include breakpoint(min, $tablet) {
            font-size: 0.88rem;
        }
    }
    &__info {
        color: $txt--white;
        font-size: 14px;
        margin: 10px auto;       
        
        @include breakpoint(max, $tablet) {
            order: 1;
        }

        @include breakpoint(min, $tablet) {
            margin: 0 auto;      
            font-size: 0.88rem;
        }
    }
    &__nav {        
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            li {
                margin-right: 10px;

                @include breakpoint(min, $tablet) {
                    margin-right: 1.76rem;
                }

                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: $txt--white;
                    font-size: 14px;
                    outline: none;
                    text-decoration: none;   
                    
                    @include breakpoint(min, $tablet) {
                        font-size: 0.88rem;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
