.header {
    background-color: $bg--white;    
    padding: 10px 0;

    @include breakpoint(max, $tablet) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;  
    }

    @include breakpoint(min, $tablet) {
        padding: 0.64rem 0;
    }

    & > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__menu {
        font-size: 26px;
        line-height: 1;  
        width: 30px;  

        i {
            &::before {
                transform: rotate(0deg);
                transition: transform 0.6s ease-in-out; 
            }
        }       
        
        &.active {
            i {
                &::before {
                    content: '\e802';
                    transform: rotate(360deg);
                    transition: transform 0.6s ease-in-out; 
                }
            }
        }

        @include breakpoint(min, $tablet) {
            display: none;
        }
    }
    &__logo {
        width: 80px;

        @include breakpoint(max, $tablet) {
            margin: 0 auto;
        }

        @include breakpoint(min, $tablet) {
            width: 16.2%;
        }

        a {
            outline: none;
            text-decoration: none;
        }    
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &__nav {             
        margin: 0 auto;   
        
        @include breakpoint(max, $tablet) {
            position: fixed;
            background-color: $bg--blue;
            top: 67px;
            left: 0;
            right: 0;
            width: 100%;            
            height: calc(100vh - 67px);
            padding: 20px 10px; 
            z-index: -1;
            transform: translateX(-150%);
            transition: transform 0.5s ease-in-out;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;           

            @include breakpoint(min, $tablet) {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            li {     
                @include breakpoint(max, $tablet) {
                    margin-bottom: 20px;
                }

                @include breakpoint(min, $tablet) {
                    margin-right: 2.64rem;

                    &:last-child {
                        margin-right: 0;
                    }
                }
               
                a {
                    font-family: 'Renogare';
                    font-size: 16px;
                    outline: none;
                    text-decoration: none;
                    color: $txt--white;

                    @include breakpoint(max, $tablet) {
                        padding: 10px 0;
                    }

                    @include breakpoint(min, $tablet) {
                        color: $txt--grey;
                        font-size: 0.94rem;
                        transition: color 0.3s ease-in-out;

                        &:hover {
                            color: $txt--blue;
                        }
                    }
                }
            }
        }

        &.active {           
            z-index: 999;     
            transform: translateX(0);
            transition: transform 0.5s ease-in-out;
        }
    }
    &__phone {
        @include breakpoint(max, $tablet) {
            width: 30px;
            text-align: right;          
        }
        a {
            outline: none;
            text-decoration: none;
            color: $txt--blue;
            font-weight: bold;
            font-size: 0;

            @include breakpoint(min, $tablet) {
                font-size: 1.4rem;
            }

            i {
                font-size: 26px;
                line-height: 1;               

                @include breakpoint(min, $tablet) {
                    font-size: 1.64rem;
                    line-height: 1;
                    margin-right: 0.58rem;
                }
            }
        }
    }
}
